.site-map_content.active {
  max-height: 50000px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.site-map_content {
  max-height: 0;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.site-map_item {
  margin-bottom: 30px;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .site-map-padding {
    padding-left: 65px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 340px) and (max-width: 767px) {
  .site-map_dev {
    flex-direction: column;
  }
}

.site-map_item .title {
  margin-bottom: 10px;
}

.site-map_item ul li a {
  color: #2d5ca6;
}

.site-map_item ul li ul {
  padding-left: 20px;
  margin-top: 12px;
  border-left: 1px solid #2d5ca6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(45, 92, 166);
}

.lisite {
  margin: 1px;
  padding: 0px;
}

.lisite,
.site-map_list {
  list-style: none;
}


.site-map_item ul li {
  margin-bottom: 14px;
  font-size: 15px;
}

.site-map_item .title a {
  color: #2d5ca6;
  margin-bottom: 15px;
  font-size: 16.02px;
}

.li-site-map {
  text-align: left;
}

@media (min-width: 1200px) {
  .site_map_min {
    flex: 0 0 23%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 23%;
    max-width: 23%;
  }
}

.site-map_item {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .site-map_btn {
    position: relative;
    right: -12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 160px;
    flex: 0 0 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    display: flex;
    margin-bottom: 0;
  }
}